<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cooknote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cooknote"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cooknote_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cooknote">
        
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity">
        </activity>

        <!--메인 버튼들-->

        <activity android:name=".Question">
        </activity>

        <activity android:name=".Recipe">
        </activity>


        <!--퀘스챤 버튼들-->
        <activity android:name=".Bread">
        </activity>

        <activity android:name=".Cookie">
        </activity>

        <activity android:name=".Korean_food">
        </activity>

        <activity android:name=".Western_food">
        </activity>

        <activity android:name=".Drink">
        </activity>

        <!--레시피-->
        <activity android:name=".Wls_Recipe">
        </activity>
    </application>
</manifest>